@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h2, h6{
    text-align: center;
    margin: 8px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-color: blueviolet;
    border-radius: 3rem;
}

#result {
    background-color: blueviolet;
    border-radius: 1rem;
    color: whitesmoke;
    margin-top: 12px;
}

#finalMessage {
    margin-top: 8px;

}
